@import 'sidebar';
@import 'about';

html {
    box-sizing: border-box;
}

body {
    text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

//main page
#main {
    background-color: rgb(245, 245, 245);
    //yellowish background-color: #fcfcfa;
    padding: 2em;
    max-width: calc(100% - 260px);

    @media (max-width: 768px) {
        & {
            min-width: 100%;
            margin-top: 36px;
            padding-bottom: 7em;
        }
    }
}


//dashboard page
.off {
    display: none !important;
}

.on {
    display: block !important;
}

.on-flex {
    display: flex !important;
    animation-duration: 3s;
}

popup {
    margin-top: 1rem;
}

// animating messages
#add-success {
    margin-top: 2rem;
    animation-duration: 3s;
}

// blogposts on index
.blog-post {
    div.label {
        margin: 0.5em 0 0 !important;
    }
    img {
        margin-top: -10px;
        border: 1px solid #ccc;
        max-width: 720px;
    }
    // the first sibling only
    img + p {
        margin-top: 1rem;
    }
    h2 {
        margin-top: 0.5em !important;
        font-size: 1.5em;
        line-height: 1.35em;
    }
    p {
        line-height: 1.35em;
    }
}

// each blog page
.format-post {
    overflow: hidden;

    header {
        margin-bottom: 1.5rem !important;
        small {

        }
        h1 {
            font-size: 1.8em !important;
            margin-bottom: 0.5rem !important;
        }
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 1rem;
    }

    h2 + p {
        text-indent: 2em;
    }

    p {
        font-size: 16px;
        line-height: 1.35em;
        text-overflow: ellipsis;
        margin-bottom: 1.5rem;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}

// login page
.login {
    height: 100vh;

    .image {
        width: 1em !important;
    }
    .column {
        width: 25% !important;

        @media (max-width: 768px) {
            & {
                width: 60% !important;
            }
        }
        @media (min-width: 769px) {
            & {
                width: 60% !important;
            }
        }
        @media (min-width: 1440px) {
            & {
                width: 35% !important;
            }
        }
        @media (min-width: 1920px) {
            & {
                width: 25% !important;
            }
        }
    }
}

// contact page
.contact {
    width: 60%;
    margin: auto;
    display: block;

    @media (max-width: 768px) {
        & {
            width: 100%;
        }
    }

    p {
        margin-bottom: 1em;
    }
    .container-centered {
        display: flex;
        height: 100%;

        button {
            margin: auto;
        }
    }
}

.middle {
    height: 100% ;
}

// theme
.darkblue {
    background-color: #1b2037 !important;
    color: white !important;
}

.darkgreen {
    background-color: #438fac !important;
    color: white !important;
}
.darkgreent {
    color: #438fac !important;
}
