{% extends "layout.html" %}
{% block title %} Martin Mariano - Arquivo de Posts {% endblock %}
{% block content %}
    <article>
        <div class="ui grid">
            <div class="two wide column"></div>
            <div class="fourteen wide column">
                <div class="ui list">
                    {% for year, value in postsTable.items() %}
                        <div class="item">
                            <i class="calendar outline icon"></i>
                            <div class="content">
                                <div class="header">{{ year }}</div>
                                <div class="list">
                                    {% for month, dayEntries in value.items() %}
                                        <div class="item">
                                            <i class="sort descending icon"></i>
                                            <div class="content">
                                                <div class="header">{{ month }}</div>
                                                <div class="description">Posts do mês de {{ month }}</div>
                                                <div class="list">
                                                    {% for day, entries in dayEntries.items() %}
                                                        <div class="item">
                                                            <i class="sort descending icon"></i>
                                                            <div class="content">
                                                                <div class="header">Dia {{ day }}</div>
                                                                <div class="description">Posts do dia {{ day }}</div>
                                                                <div class="list">
                                                                {% for entry, post in entries.items() %}
                                                                        <div class="item">
                                                                            <i class="newspaper icon"></i>
                                                                            <div class="content">
                                                                                <div class="header">
                                                                                    Post 0{{ loop.index }}
                                                                                </div>
                                                                                <a href="/post/{{ post[0] }}"> {{ post[1] | capitalize }} </a>, Tags: {% for tag in post[2] %} <a href="{{ url_for('tags', string=tag) }}"><div class="ui label">{{ tag }}</div></a> {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
