{% macro form(type, form) %}

<div data-portfolio="{{ type }}" class="off">
            <!-- Form -->
            <form id="portfolio-{{ type }}" class="ui form" action="">

                {% if form.itemSelector %}
                    <div class="required inline field">
                        {{ form.itemSelector.label }}
                        {{ form.itemSelector(id='select-'+type) }}
                        <div class="ui left pointing label">Escolha o projeto para que ocorra o preenchimento automático dos campos.</div>
                    </div>
                {% endif %}

                    <h4 class="ui dividing header">Informações Básicas</h4>
                    <div class="fields">
                        <div class="required eight wide field">
                            {{ form.title.label }}
                            {{ form.title }}
                        </div>
                        <div class="required eight wide field">
                            {{ form.imageUrl.label }}
                            {{ form.imageUrl }}
                        </div>
                    </div>

                <div class="required sixteen wide field">
                    {{ form.description.label }}
                    {{ form.description }}
                </div>


                {% if type != "del" %}
                <h4 class="ui dividing header">Conteúdo</h4>
                <div class="inline field">
                    {{ form.content(id=type) }}

                    <label>Página</label>
                    <div id="portfolio-{{ type }}-buttons" class="ui buttons">
                        {% for number in range(1, 11) %}
                            <button data-button="{{ number }}" type="button" class="ui button">{{ number }}</button>
                        {% endfor %}
                    </div>
                    <div class="ui left pointing label">Selecione a pagina que deseja editar.</div>
                </div>
                {% endif %}
                <button id="portfolio-{{ type }}-submit" type="submit" form="portfolio-{{ type }}" class="ui primary button">Enviar</button>



            </form>
            <!-- End of Form -->
</div>
{% endmacro %}

{% macro message(type) %}
    <popup id="portfolio-{{ type }}-message-success" class="off">
        <div class="ui positive message">
            <i class="close icon"></i>
            <div class="header">Tudo certo.</div>
            O item criado com sucesso.
            <a id="" href=""></a>
        </div>
    </popup>
{% endmacro %}
