{% extends "layout.html" %}
{% block title %} Martin Mariano - Portfolio {% endblock %}
{% block jsonld %} {% endblock %}

{% set numberOfPages = item.content | length %}

{% block content %}
    <div class="scrolling-wrapper-flexbox">
        {% for index, pagecontent in item.content.items() %}
            <div data-page="{{ index }}" class="portfolio-page">
                <div class="ui equal width grid">
                    {{ pagecontent | safe }}
                </div>
            </div>
        {% endfor %}

    </div>
    <div id="navigationBar" class="ui fluid {{ numberOfPages | numberToFull }} item menu">
        {% for index, pagecontent in item.content.items() %}
            <a data-page="{{ index }}" class="item">{{ loop.index }}</a>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/dist/portfolio_items-dist.js') }}"></script>
{% endblock %}
