{% extends "layout.html" %}
{% block title %} Martin Mariano - Portfolio {% endblock %}
{% block jsonld %} {% endblock %}

{% block content %}
<section class="portfolio">


    <div class="container">
        <h1 class="ui header centered">PORTFÓLIO</h1>
        <div class="ui subheader centered">
            Projetos de caráter pessoal e profissional. Clique no item desejado para maiores detalhes.
        </div>
    </div>

    <div class="display ui equal width stackable grid">
        {% for item in serializedItems %}

        <div class="column">
            <div class="ui fluid image bordered rounded">
                <a href="{{ url_for('viewPortfolioItem', itemID=item.id) }}"><img src="{{ item.imagelink }}"></a>
            </div>
            <h3 class="ui header">
                {{ item.title }}
            </h3>
            <p>{{ item.description }}</p>
            <!-- <div class="ui grid equal width">
                 <div class="column">
                 Ver mais informações
                 </div>
                 <div class="column">
                 Acessar aplicativo
                 </div>
                 </div> -->

        </div>
        {% endfor %}

    </div>

</section>
{% endblock %}

{% block scripts %}

{% endblock %}
