{% extends "layout.html" %}
{% block title %}
    Martin Mariano - Blog do Desenvolvedor
{% endblock %}

{% block content %}
    <div class="ui comments piled segment">
        <div class="comment">
            <a class="avatar">
                <img alt="" src="https://semantic-ui.com/images/avatar/small/matt.jpg"/>
            </a>
            <div class="content">
                <a class="author">Martin</a>
                <div class="metadata">
                    <div class="date">
                        Agora há pouco
                    </div>
                </div>
                <div class="text">Olá! Você está vendo os posts com o assunto: <b>{{ TAG | upper }}</b></div>

            </div>
        </div>
    </div>
    {% for entry in blogEntries %}
<!-- Separate each as an article -->
<article class="ui basic attached segment blog-post">
    <div class="ui red ribbon label">Tags: {% for tag in entry.tags %}
        <a href="{{ url_for('tags', string=tag) }}">{{ tag }}</a> {% endfor %}
    </div>
    <h2 class="ui header">{{ entry.title }}
        <div class="sub header">Postado {{ entry.timestamp[3] | lower }}, {{entry.timestamp[0]}} de {{entry.timestamp[1]}}, {{entry.timestamp[2]}}</div>
    </h2>
    <img class="ui fluid image" src="{{entry.imagelink}}" />
    <p>{{entry.content | safe | truncate(600) }}</p>

    <!-- Keep reading button-->
    <a href="/post/{{entry.id}}/{{entry.slug}}">
        <div class="ui darkgreen animated button" tabindex="0">
            <div class="visible content">Continuar Lendo</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </div>
    </a>
    <!-- End of button-->
</article>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dist/main-dist.js') }}"></script>
{% endblock %}
