{% extends "layout.html" %}
{% block title %} Martin Mariano - Web Developer Blog {% endblock %}

{% block content %}
<article class="top-spacer format-post">

    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="ten wide column">
            <header>
                <h1 class="ui header">{{blogEntry.title}}</h1>
                <small>postado originalmente {{blogEntry.timestamp[3]}}, {{blogEntry.timestamp[0]}} de {{blogEntry.timestamp[1]}}, {{blogEntry.timestamp[2]}}</small>
            </header>
            <content>
                {{ blogEntry.content | safe}}
            </content>
        </div>
    </div>
</article>
{% endblock %}
