.portfolio  {
    h1 {
        font-family: 'Saira', sans-serif !important;
    }
    .subheader {
        margin: 0;
        text-align: center;
        color: darkgrey !important;
    }
    .display {
        margin-top: 1.5rem;
        div {
            h3, p {
                margin-left: 1.5rem;
            }
        }
    }
}
