// Sidebar stuff
.sidebar-last {
    font-size: 2em;
    line-height: 1em !important;
    text-align: center;
    a {
        font-size: 1.2em;
        &:hover {
            text-decoration: none;
        }
        p {
            font-size: 16px;
            text-align: right;
        }
    }
    .description {
        padding-top: 1em;
        font-size: 14px;
        text-align: center;
    }
}

.custom {

    font-family: 'Saira', sans-serif !important;

    .item {
        text-transform: uppercase;
    }
    .item:before {
        content: none !important;
    }
    .item:first-child {
        margin-top: 10vh;
    }
    .item:last-child {
        margin-top: 5vh;
    }

    .ui.divider {
        margin: auto;
        margin-top: 5%;
        width: 60%;
    }

}
