// Sidebar stuff
.sidebar-first {
    margin-top: 15vh;
    margin-bottom: 10vh;
    font-size: 2em;
    a {
        p {
            font-size: 16px;
            text-align: right;
        }
    }
    .description {
        padding-top: 1em;
        font-size: 14px;
        text-align: center;
    }

    &:before {
        content: none !important;
    }
}

.search-bar {
    &:before {
        content: none !important;
    }
    margin-bottom: 5vh;
}
