@import 'sidebar';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

//main page


//dashboard page
.off {
    display: none;
}

.on {
    display: block !important;
}
