@import 'sidebar';
@import 'about';

html {
    box-sizing: border-box;
}

body {
    text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// helper
.top-spacer {
    padding-top: 5vh;
}

//main page
#main {
    background-color: rgb(245, 245, 245);
}


//dashboard page
.off {
    display: none;
}

.on {
    display: block !important;
}

// animating messages
#add-success {
    margin-top: 2rem;
    animation-duration: 3s;
}

// blogposts on index
.blog-post {
    img {
        margin-top: -10px;
        border: 1px solid #ccc;
        max-width: 720px;
    }
    // the first sibling only
    img + p {
        margin-top: 1rem;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        line-height: 1.35em;
    }
}

// each blog page
.format-post {
    overflow: hidden;

    header + content  p:first-child {
        text-indent: 2em;
    }


    header {
        margin-bottom: 1.5rem !important;
        small {

        }
        h1 {
            font-size: 1.8em !important;
        }
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 1rem;
    }

    h2 + p {
        text-indent: 2em;
    }

    p {
        font-size: 16px;
        line-height: 1.35em;
        text-overflow: ellipsis;
        margin-bottom: 1.5rem;
    }
}
