{% extends "layout.html" %}
{% block title %} Martin Mariano - About me {% endblock %}

{% block content %}
<article class="top-spacer container">
    <div class="ui grid">
        <div class="four wide column">
            <content>
                <div class="ui card">
                    <div class="image">
                        <img src="{{url_for('static', filename='images/minhafoto.jpg')}}">
                    </div>
                    <div class="content">
                        <a class="header">Martin</a>
                        <div class="meta">
                            23 anos, São Paulo
                        </div>
                        <div class="description">
                            Estudante de Ciências da Computação.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                        </a>
                    </div>
                </div>

                <div class="ui stackable three column grid">
                    <div class="row">
                        <div class="column">
                            <a href="https://www.facebook.com/itsnotmartin" class="hb-sm-margin">
                                <span class="hb hb-sm hb-facebook">
                                    <i class="fa fa-facebook"></i>
                                </span>
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://github.com/saskenuba/" class="hb-sm-margin">
                                <span class="hb hb-sm hb-github">
                                    <i class="fa fa-github"></i>
                                </span>
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://www.linkedin.com/in/martinmariano/" class="hb-sm-margin">
                                <span class="hb hb-sm hb-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </content>
        </div>
        <div class="one wide column"></div>
        <div class="eleven wide column">
            <content class="">
                <h2 class="ui header">Quem sou?</h2>
                <p> Meu nome é Martin e atualmente procuro estágio em desenvolvimento de software. Tenho interesse em diversas áreas incluindo machine learning, inteligência artificial, e desenvolvimento web. </p>
                <p>Todo o blog foi desenvolvido utilizando JS, Python + Flask, HTML, CSS e muito carinho como projeto final para obter a certificação CS50. </p>
                <h2 class="ui header">Porque devo te contratar?</h2>
                <p>Tenho experiência com administração de sistemas linux, administração de redes, e tenho muito interesse em aprender coisas novas</p>
                <p>Dê uma olhada no meu <a href="{{url_for('static', filename='files/CV.pdf')}}">currículo</a>.</p>
                <p>Ainda tem dúvida? <p class="real-gud">

                    Me contrate, sou muito bom. </p>


            </content>
        </div>
    </div>
</article>
{% endblock %}

{% block scripts %}
<link href="{{url_for('static', filename='hexagons.min.css')}}" rel="stylesheet"/>
<script src="{{url_for('static', filename='hexagons.min.js')}}"></script>
{% endblock %}
