<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Martin Mariano">
        <title>{% block title %}{% endblock %}</title>

        <!-- All semantic content -->
        <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">

        <!-- FontAwesome content -->
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">


        <!-- PlaceHolder -->
        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet" />

    </head>

    <body>
        <!-- Begin of Navigation -->
        <nav class="ui bottom attached segment pushable">
            <div class="ui visible left vertical sidebar menu">
                <a class="item sidebar-first"> Martin Mariano <p>dev blog</p></a>
                <a class="item"><i class="home icon"></i> Home </a>
                <a class="item"><i class="block layout icon"></i> Sobre </a>
                <a class="item"><i class="smile icon"></i> Blog Posts </a>
                <a class="item"><i class=""></i> Contato </a>
            </div>

            <!-- Main content goes here -->
            <div class="pusher">
                <div class="ui basic segment">
                    {% block content %}

                    {% endblock %}
                </div>
            <!-- End of main content -->
            </div>
            <!-- End of Navigation -->
        </nav>



        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="../static/semantic.min.js"></script>
    </body>

</html>
