<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Martin Mariano">
        <title>{% block title %}{% endblock %}</title>

        <!-- All semantic content -->
        <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">

        <!-- FontAwesome content -->
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">

        <!-- Boostrap content -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- PlaceHolder -->
        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet" />

        <!-- Jsglue / so js can make ajax calls -->
        {{ JSGlue.include() }}

    </head>

    <body class="pushable">
        <!-- Begin of Navigation Bar -->
        <nav id="sidebar" class="ui visible left vertical sidebar menu">
            <a class="item sidebar-first"> Martin Mariano <p>dev blog</p></a>

            <!-- Search Bar -->
            <div class="item search-bar">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" placeholder="Pesquisar dentro do blog" type="text">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <!-- End of Search Bar -->
            <a class="item"><i class="home icon"></i> Home </a>
            <a class="item"><i class="block layout icon"></i> Sobre </a>
            <a class="item"><i class="smile icon"></i> Blog Posts </a>
            <a class="item"><i class=""></i> Contato </a>
        </nav>
        <!-- End of Navigation Bar -->

        <!-- Main content goes here -->
        <div id="main" class="pusher">
            <div class="ui basic segment">
                {% block content %} {% endblock %}
            </div>
        </div>
        <!-- End of main content -->

        <!-- Start of additional scripts -->
        {% block scripts %}{% endblock %}
        <!-- End of additional scripts -->

        <!-- Placed at the end of the document so the pages load faster -->
        <!--  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
          <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script-dist.js') }}"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script> -->
    </body>

</html>
